.layout {
  display: grid;
  grid-template-columns: 70px 1fr;
  grid-template-rows: auto auto 1fr;
  grid-template-areas: "sidebar actionbar" "sidebar categories" "sidebar content";
}

/* sidebar */
.sidebar {
  grid-area: sidebar;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid white; */
}
.sidebar__items {
  padding: 0.5rem 0;
  /* border: 1px solid yellow; */
}
.sidebar__items li {
  padding: 1rem;
  font-size: var(--font-lg);
  cursor: pointer;
}
.sidebar__items li:hover {
  border-left: 2px solid var(--theme-color);
  color: var(--theme-color);
  font-weight: bold;
}

/* actionbar */
.actionbar {
  grid-area: actionbar;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 2fr 3fr 2fr;

  gap: 20px;
  color: var(--white-color);
  padding: 1rem;
  max-width: 100vw;
}
.actionbar__logo {
  font-size: var(--font-lg);
  font-family: var(--primary-font);
}

.actionbar__search {
  display: flex;
  align-items: center;
  background-color: var(--transparent-black);
  padding: 8px 10px;
  border-radius: var(--border-radius-md);
}
.actionbar__search input {
  border: none;
  background: transparent;
  outline: none;
  padding-left: 10px;
  font-size: var(--font-sm);
  width: 100%;
  color: var(--primary-gray);
}
.actionbar__profile {
}
.categories {
  grid-area: categories;
  grid-row: span 1;
  display: flex;
  max-width: 1400px;
  align-items: center;
}
.categories__items {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
}
.categories__items::-webkit-scrollbar {
  display: none;
}
.categories__items li {
  padding: 0.5rem 1rem;
  font-size: var(--font-sm);
  font-weight: bold;
  font-family: var(--primary-font);
  background-color: var(--transparent-black);
  margin: 0.5rem;
  border-radius: var(--border-radius-md);
  white-space: nowrap;
}
.categories__items li:first-child {
  background-color: var(--hot-pink);
}
.categories__arrow {
  font-size: var(--font-xxl);
  font-weight: bold;
  filter: drop-shadow(0px 0px 20px rgb(0, 0, 0));
  cursor: pointer;
  margin: 0 0.5rem;
}
.layout__content {
  grid-area: content;
  max-width: 95vw;
  overflow-x: hidden;
}

@media screen and (max-width: 500px) {
  .layout {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "actionbar" "categories" "content" "sidebar";
  }
  .sidebar {
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--transparent-black);
    z-index: 2;
    box-shadow: rgba(255, 255, 255, 0.55) 0px 45px 100px 0px;
    border-top: 01px solid rgba(255, 255, 255, 0.05);
  }
  .sidebar h3 {
    display: none;
  }
  .sidebar__items {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0;
  }
  .sidebar__items li {
    padding: 0.2rem;
  }
  .sidebar__items li:hover {
    border-left: none;
    filter: drop-shadow(0px 0px 5px var(--transparent-black));
  }
}
