.layout {
  display: grid;
  grid-template-columns: 70px repeat(12, [col-start] 1fr);

  /* background-color: antiquewhite; */
}
.layout__content {
  display: grid;

  /* grid-template-rows: 1fr; */
}
.actionbar {
  background-color: #f99aec;
}
.sidebar {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid white; */
}
.sidebar__items {
  padding: 0.5rem 0;
  /* border: 1px solid yellow; */
}
.sidebar__items li {
  padding: 1rem;
  font-size: var(--font-lg);
  cursor: pointer;
}
.sidebar__items li:hover {
  border-left: 2px solid var(--theme-color);
  color: var(--theme-color);
  font-weight: bold;
}
