.videosContainer {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 1rem;
  padding: 2rem;
}
.videoCard {
  padding: 10px;
  cursor: pointer;
}
.videoCard__header {
  position: relative;
}
.videoCard__header img {
  width: 100%;
  border-radius: var(--border-radius-lg);
  height: 200px;
  object-fit: cover;
}
.videoCard__header span {
  position: absolute;
  color: var(--white-color);
  bottom: 10px;
  background-color: var(--hot-pink);
  right: 2px;
  padding: 0.2rem;
  border-radius: var(--border-radius-sm);
  font-size: var(--font-xs);
}
.videoCard__title {
  color: var(--white-color);
  font-size: var(--font-md);
  font-weight: bold;
  padding: 0.3rem 0;
}
